/* @media screen and (max-width:1600px) {
    .hotel_banner_right {
        height: 600px;
    }

}

@media screen and (max-width:1380px) {
    .end_left ul li a {
        font-size: 16px;
    }

} */


@media screen and (max-width: 1200px){
    .navigation-bar {
        display: flex;
    }
    .navigation-menu, .menu_right {
        display: none;
    }
    
   .brand-container_mobile {
        display: block;
    }

    .brand-container_mobile {
        position: fixed;
        top: 0;
        left: 0;
        background: #222;
        bottom: 0;
        padding: 40px;
        width: 350px;
        z-index: 99;
        transition: all 0.2s linear;
        transform: translateX(-100%);
    }
    .navigation-bar li:not(:last-child) {
        margin-bottom: 20px;
    }
    .navigation-bar li a {
        color: #fff;
        font-size: 18px;
    }
}


@media screen and (max-width:1199px) {
    .end_left ul {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .navbar-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        padding: 50px;
        background-color: #fff;
        transform: translateX(100%);
        transition: all 0.3s linear;
        z-index: 100;
        color: #fff;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    .menuToggle .navbar-menu {
        transform: translateX(0);
        justify-content: flex-start;
    }

    .menu-toggle .brand-container_mobile {
        transform: translateX(0);
    }
    .header_logo {
        margin: 0 auto;
    }
    .navbar-menu ul {
        flex-direction: column;

    }

    .menu-toggle-btn {
        display: block !important;
    }

    .menu-close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block !important;
        text-align: end;
        z-index: 55;
        font-size: 21px;
        height: 2.5rem;
        width: 2.5rem;
    }

    .signup-btn,
    .login-btn {
        margin-left: 0;
    }

    .btn {
        max-width: 150px;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 15px;
    }

    .home_banner_right {
        height: 500px;
    }

    .banner-btn {
        padding: 10px 15px;
        font-size: 17px;
    }

    .our-pormises_wrap p {
        font-size: 18px;
    }

    .logo-container a,
    .logo-bottom a {
        width: 280px;
    }

    .custom-blog-card-image {
        height: 270px;
    }

    .custom-blog-card-content h3 {
        font-size: 22px;
    }

    #login-signup button[type="submit"] {
        font-size: 19px;
    }

    .one_end.one_end_address {
        justify-content: start;
        margin-top: 10px;
    }

    .social_profile ul li a {
        margin-right: 5px;
    }

    .secure_links {
        padding-top: 0;
    }
}




@media screen and (max-width:992px) {
    .betciti_banner {
        height: 400px;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
    }

    .custom-hotel-img-side,
    .custom-hotel-text-side {
      width: 100%;
    }
    .custom-hotel-flex {
      flex-direction: column;
    }
    .custom-hotel-text-side {
      padding: 30px 15px;
    }

    .img_bn {
        display: block;
    }

    .left_side {
        padding: 20px 20px 40px;
    }

    .add_le {
        padding: 20px 20px 40px;
    }

    .contact_section {
        padding: 40px 0;
    }

    .img-area {
        grid-template-columns: 1fr 1fr;
    }

    .detail_box {
        margin-left: 0px;
        height: auto;
    }

    .detail_box.one {
        margin-right: 0px;
        height: auto;
    }

    .secure_links {
        padding-top: 0;
        flex-direction: column;
        margin-top: 20px;
    }

    .one_end.one_end_address {
        justify-content: center;
    }

    .one_end ul li {
        border-right: unset;
        padding-right: 0;
    }

    .one_end.one_end_menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .one_end.one_end_menu ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image_side,
    .text_side {
        width: 100%;
    }

    .both_into {
        gap: 20px;
        flex-wrap: wrap;
    }

    .end-blocks h3 {
        font-size: 28px;
    }

    .our-pormises_wrap p {
        font-size: 17px;
    }


    .logo-container a,
    .logo-bottom a {
        width: 220px;
    }

    #login-signup button[type="submit"] {
        font-size: 18px;
    }

    p.jump-text {
        font-size: 15px;
    }

    .gaime_img.one {
        height: 350px;
    }

    .txt {
        margin-bottom: 30px;
    }

    .txt h2 {
        margin-bottom: 20px;
    }

    .after_banner_inner_text_second {
        margin-right:0;
    }

    .after_banner_inner_text {
        margin-left:0;
    }
}

@media screen and (max-width:768px) {
    .pri_ban {
        position: relative;
        padding-bottom: 40px;
    }

    .faq-container {
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }

    .top_img {
        height: 400px;
    }

    .faq-content {
        padding-right: 0;
    }

    .banner_box h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 25px !important;
        margin-top: 20px;
    }



    .info_priterm-content-grp h3 {
        font-size: 20px;
    }

    .betciti_banner {
        height: 100%;
    }

    .pt-8{
        padding-top: 2.5rem;
    }

    .pb-8{
        padding-bottom: 2.5rem;
    }

    .after_banner_inner_text {
        padding: 20px;
        height: 100%;   
    }

    .after_banner_inner_text_second {
        padding: 20px;
        height: 100%;
    }

    .second_after_banner {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .second_after_banner_right {
        width: 100%;
    }

    .second_after_banner_right {
        padding: 1.5rem;
    }

    .info-left {
        width: 100%;
    }

    .info-left {
        flex-wrap: wrap;
    }

    .info-leftRight, .info-leftLeft {
        width: 100%;
    }

    .info-leftRight {
        margin-top: 20px;
    }

    .banner_box {
        margin-top: 20px;
    }

    .footer_logo {
        width: 100%;
        height: 90px;
    }

    .footer-logo {
        text-align: center;
        max-width: 200px;
        margin: 0 auto;
    }

}

@media screen and (max-width:575px) {
    .text {
        font-size: 18px;
    }

    .home_content h2 {
        font-size: 2rem;
    }

    .text-left {
        flex-direction: column;
    }


    .fit_right {
        gap: 20px;
        flex-direction: column;
    }

    .img-area {
        grid-template-columns: 1fr;
    }

    .social-icons {
        height: 40px;
        width: 40px;
    }

    .social-ikons {
        width: 16px;
        height: 16px;
    }


    .menu-toggle-btn {
        width: 21px;
        height: 21px;
    }

    .home_banner_right {
        height: 350px;
    }

    .home_banner_left {
        max-width: 400px;
    }

    .banner-btn {
        padding: 9px 15px;
        font-size: 17px;
    }


    #contact input[type="text"],
    #contact input[type="email"],
    #contact input[type="tel"],
    #contact input[type="url"],
    #contact textarea,
    #contact select {
        font-size: 15px;
        padding: 8px;
    }

    #contact button[type="submit"] {
        padding: 8px 19px;
        font-size: 16px;
    }

    .contact-card1-image {
        height: 240px;
    }

    #login-signup input[type="text"],
    #login-signup input[type="email"],
    #login-signup input[type="tel"],
    #login-signup input[type="url"],
    #login-signup textarea {
        font-size: 14px;
    }

    #login-signup button[type="submit"] {
        font-size: 16px;
    }

    p.jump-text {
        font-size: 13px;
    }

    .info_priterm-content-grp h3 {
        font-size: 18px;
    }

    .footer-heading {
        text-align: center;
    }

    .footer-links {
        text-align: center;
    }

    .newsletter-wrap {
        padding: 15px;
    }

    .banner_section {
        height: 28.75rem;
    }

    .top-hotel-heading h2 {
        font-size: 30px;
    }

    .social-link {
        max-width: 140px;
        margin: 0 auto;
    }



    

}


@media screen and (max-width:480px) {

    .logo-container a,
    .logo-bottom a {
        width: 120px;
        float: left;
    }

    .fit_left ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .end.end.py-5 {
        padding-top: 0;
    }

    .end-blocks {
        width: 100%;
        padding: 20px 0 0;
    }

    .end-blocks h3 {
        font-size: 22px;
    }

    .end-disclaimer p {
        font-size: 13px;
    }

    .end-copyright-ssl-wrap {
        padding: 30px 0px 0 0px;
    }

    .copyright-wrap p {
        font-size: 12px;
        text-align: center;
    }

    .banner-btn {
        padding: 8px 15px;
        font-size: 16px;
    }

    .info_priterm-wrap {
        padding: 30px 20px;
    }

    .info_priterm-content-grp h3 {
        font-size: 16px;
    }


    .btn_contact {
        padding: 18px 20px 20px;
        margin: 0;
    }

    .dis_txt {
        padding: 30px 0;
    }

    .news-form {
        max-width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .news-form button {
        width: 40%;
    margin-top: 10px;
    }

    .banner_box h1 {
        font-size: 30px;
    }

    .after_banner_inner_text h2 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .banner_section {
        height: 28.75rem;
    }

    .custom-hotel-img-side {
        min-height: 315px; 
    }

    .custom-hotel-text-side h2 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .custom-hotel-text-side p {
        font-size: 16px;
}

.strip_inner_text h2 {
    font-size: 1.5rem;
    line-height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.blog_desc h2 {
    font-size: 1.5rem;
    line-height: 30px;
}

.blog_desc img {
    height: 20.25rem;
}

.footer_logo {
    height: 90px !important;
}
}